<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826296321983-dibv5qopddaiheu147oma1acakpfhlia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826296321983-dibv5qopddaiheu147oma1acakpfhlia</string>
	<key>API_KEY</key>
	<string>AIzaSyCbzi258ysqZkWzUwxTmAYw-JYvdDVaPE8</string>
	<key>GCM_SENDER_ID</key>
	<string>826296321983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChatterBoxApp</string>
	<key>PROJECT_ID</key>
	<string>chatterboxapp-e28df</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterboxapp-e28df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826296321983:ios:28b7764cd6c84b97bf830a</string>
</dict>
</plist>